body{
    background-color:lightblue;
    font-size: 20px;
  }
  
  button{
      font-size: 20px;
      background-color:beige;
      border-radius: 15px;
  }
  div{
    background-color:firebrick;
    text-align: center;
    padding: 15px;
    margin: 200px;
    border-radius: 20px;
  }
  .btn{
      padding: 30x;
      margin: 20px;
  }