body{
    background-color:white;
    font-size: 20px;
  }
  
  button{
      font-size: 20px;
      background-color:beige;
      border-radius: 15px;
  }
  div{
    background-color: darkorchid;
    text-align: center;
    padding: 15px;
    margin: 170px;
    border-radius: 20px;
  }
  .btn{
      padding: 20px;
      margin: 15px;
  }
  