body{
    background-color: beige;
    font-size: 15px;
}
div{
    background-color: lightgreen;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

button{
    border-radius: 15px;
    background-color: coral;
}

