body{
    background-color: black;
    align-items: center;
    font-size: 20px;
}

div{
    padding: 50x;
    margin: 150px;
    margin-left: 500;
    border-radius: 15px;
    background-color: azure;
    width: 400px;
    height: 310x;
    
}